*{
    padding: 0;
    margin: 0;
}
/* ------------------------------------------------------------------------------------- main */
main{
    background-image: url(photo.jpg);
    background-size:cover;
    color: white;
}
.content{
    margin: 0px 50px 0px 50px;
}
.content .container_outer{
    display: grid;
    grid-template-rows: 50px;
    grid-template-columns:repeat(12,1fr);
    row-gap: 10px;
    column-gap: 40px;
    padding:10px 40px 20px 40px ;
}
.content .container_outer .heading{
    grid-row: 1/2;
    grid-column: 1/11;
    font-family: "Kalam", serif;
    font-weight: 900;
    font-style: normal;
}
.content .container_outer .see_all{
    grid-row: 1/2;
    grid-column: 11/13;
    font-size: 20px;
    justify-self:self-end;
}
.content .container_outer .see_all a{
    color: white;
}
.content .container_outer .rate{
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.content .container_outer .rate img{
    height:350px ;
    width:100%;
    padding:5px;
    box-shadow:0px 0px 4px white ;
    border-radius:20px;
}
.content .container_outer .rate p,h3{
    padding:5px;
    margin:0;
}
.content .container_outer .rate #more{
    padding-left: 5px;
    color: aliceblue;
}
.content .container_outer .rate .btn {
    margin:15px 15px 15px 150px;
    place-self: center;
}
.content .container_outer .rate .btn a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    display: flex;
    place-items: center;
}
.content .container_outer #rate1{

    grid-column: 1/4;
}
.content .container_outer #rate2{

    grid-column: 4/7;
}
.content .container_outer #rate3{

    grid-column: 7/10;
}
.content .container_outer #rate4{

    grid-column: 10/13;
}
/* -----------------hover------------------------- */
.content .container_outer .rate:hover{
    box-shadow: 0px 0px 6px white;
    transform: scale(1.03);
}
.content .container_outer .rate .btn:hover{
    box-shadow: 0px 0px 8px red;
}


/* Responsive------------------------*/
@media(max-width:1120px){
    .content .container_outer {
        row-gap: 40px;
    }
    .content .container_outer .heading{
        grid-row: 1/2;
        grid-column: 1/8;
    }
    .content .container_outer .see_all{
        grid-row: 1/2;
        grid-column: 8/13;
        font-size: 20px;
        justify-self:self-end;
    }
    .content .container_outer #rate1{
        grid-row:2/3;
        grid-column: 1/7;
    }
    .content .container_outer #rate2{
        grid-row: 2/3;
        grid-column: 7/13;
    }
    .content .container_outer #rate3{
        grid-row: 3/4;
        grid-column: 1/7;
    }
    .content .container_outer #rate4{
        grid-row: 3/4;
        grid-column: 7/13;
    }
}
/* keyframe ----------------------------------------------*/

